[submodule "external/vectorclass"]
	path = external/vectorclass
	url = https://github.com/vectorclass/version2
[submodule "external/cpputils"]
	path = external/cpputils
	url = https://github.com/StopwatchString/cpputils.git
[submodule "external/glh"]
	path = external/glh
	url = https://github.com/StopwatchString/glh.git
